body {
    margin: 25px 25px 10px 25px;
    background-color: #3F51B5;
    text-align: center;
}

.content {
    padding: 50px 50px 50px 50px;
    background-color: #ffffff;
    border-radius: 15px;
    min-height: 450px;
}

.calc-body {
    padding: 50px 50px 50px 50px;
    background-color: #ffffff;
    border-radius: 15px;
    height: 450px;
    width: 350px;
}

.table-center {
    text-align: center;
}

.input-calc {
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
}

.input-calc-tmp {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    border-radius: 10px;
}

tr {
    height: 50px;
}

td {
    width: 150px;
}

.round1 {
    margin-top: -35px;
    margin-left: -65px;
    padding: 35px 35px 35px 35px;
    border-radius: 100px;
    position: absolute;
    background-color: #FF9800;
}

.round2 {
    margin-top: -55px;
    margin-left: 650px;
    padding: 45px 45px 45px 45px;
    border-radius: 100px;
    position: absolute;
    background-color: #FF9800;
}

.round3 {
    margin-top: -75px;
    margin-left: 800px;
    padding: 65px 65px 65px 65px;
    border-radius: 100px;
    position: absolute;
    background-color: #FF9800;
}

.round4 {
    margin-top: -95px;
    margin-left: 1000px;
    padding: 85px 85px 85px 85px;
    border-radius: 100px;
    position: absolute;
    background-color: #FF9800;
}
